body { margin:0; }
#map { position: absolute; top: 0; bottom: 0; width: 100vw; height: 100vh;}
/* #menu {
  height: 100%;
  width: 10%;
  position: absolute;
  background: aqua;
  padding: 5%;
  font-family: 'Open Sans', sans-serif;
  } */

  .container {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    bottom: 0%;
    display: flex;    
    overflow-x: auto;
    position: absolute;
    border-radius: 30%;
  }

  .Icons{
    margin: 2.5%;
    width: 20%;
    height: 20%;
  }

/* img:not(.Icons, .menu){
  display: none !important;
} */



.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl-attrib.mapboxgl-compact:after {
  display: none !important;}

a{
  display: none !important;
}

.left {
  position: fixed;
  top: auto;
  left: 0;
  width: 15%;
  height: auto;
  margin: 5%;

}

.right {
  position: fixed;
  top: auto;
  right: 0;
  width: 15%;
  height: auto;
  margin: 5%;

}


.bottom1{
  align-content: center;
  z-index: 23;
  background: rgb(45,46,61);
background: linear-gradient(0deg, rgba(45,46,61,1) 0%, rgba(70,74,107,1) 100%);
border-top-right-radius: 10%;
border-top-left-radius: 10%;
  position: fixed;
  bottom: 0;
  
  width: 100vw;


  display: flex;
  flex-flow: column nowrap;

  align-items: center; /* aligns on horizontal for column */


}
.imgmgmg{
  border-radius: 100%;
  
  border-style: solid;
  border-color: white;

  width: 20%;

  margin-top: -10%;

  
}
h1,p{
  
  font-family: 'Fredoka One', cursive;
  
  color: white;
   

  margin-block-start: 3%;
  margin-block-end: 3%;


}

.getdirection{
  
  font-family: 'Fredoka One', cursive;
  
  border-radius: 30px;
  
  background-color: turquoise;
  width: 90%;
  bottom: 0%;
  margin-bottom: 5%;
  margin-top: 10%;
}
